@charset "UTF-8";

body {
	min-width: 60%;
	max-width: 960px;
	position: center;
}

H2 {
	margin: 30px;
}

table th {
	text-align: right;
}

input, select {
	width: 150px;
	border: 1px solid #000;
	background-color: #fff;
}
.btn1{
	cursor: pointer;
	cursor: hand;
}

.leftbtn {
	width: 200px;
}

.rightbtn {
	width: 200px;
}

.leftbtn2{
	margin-right:200px;
}

ul.foo {
    display:table;
}

ul.foo  li{
	list-style: none;
	display:table-cell;
}

.tableedit{
	margin-left:20%;
}


.errmsg{
	margin-left:200px;
}
.errmsg2{
	margin-left:85px;
}


/* ボタンのデザイン編集*/
*:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btn {
	margin-left:80px;
	border: 1px solid #000;
	background-color: #ffffff;
	cursor: pointer;
	cursor: hand;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0.1em;
	color: #212529;
	height: 25px;
	width: 200px;
	margin-left:20%;

}

.btn-border {
	border: 2px solid #000;
	border-radius: 0;
	background: #fff;
}

.btn-border:hover {
	color: #fff;
	background: #000;
}