@charset "UTF-8";

body {
	width: 920px;
}

table th {
	text-align: right;
}

.btn {
	border: 1px solid #000;
	background-color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #fff;
}

.leftbtn {
	width: 200px;
	float: left;
}

.rightbtn {
	width: 200px;
	float: right;
	margin-right: 330px;
}

.table {
	margin-left: 100px;
}

.to {
	padding-left: 50px;
}