@charset "UTF-8";

body {
	/* ページ幅*/
	width: 960px;
	min-width: 60%;
}

h2{
	margin-left: 80px;

}
.tablebtn {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.table1 {
	width: 800px;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top : 20px;
	border: solid 1px black;
	text-align:center;
}

.tr1 {
	border: solid 1px black;
}

.tr2 {
	border: solid 1px black;
}

.td1 {
	border: solid 1px black;
}

.page {
	margin-left: 7%;

}

.page2{
	text-decoration: none;
}


/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

.btn-border:hover {
  color: #fff;
  background: #000;
}


.btn {
	height: 25px;
	width: 200px;
	cursor: pointer;
	cursor: hand;
}

.tdbtn{
	margin-right:320px;
	margin-left:80px;
}


.logoutbtn{
	margin-left:7%;

}


.btn1 {
	width: 50%;
	cursor: pointer;
	cursor: hand;
}

.btn-border1 {
  border: 2px solid #000;
  border-radius: 0;
  background: #808080;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-border1:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 5px;
  height: 100%;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #FFF;
}

.btn-border1:hover {
  color: #000;
  background: #FFF;
}

