@charset "UTF-8";

body{
	/* font-family: "游ゴシック" ; */
	width:960px;
}

.paging ul {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
}
.paging ul li{
	display: inline;
	margin-right: 10px;
}

table.transitListCss{
	border-collapse: collapse;
	text-align: center;
	width:800px;
	table-layout: fixed;
}

table.transitListCss td,table.transitListCss th{

	padding:0.25em;
}

table.transitListCss th{
	border-bottom: 3px double;
}

.transitname{
	width:20%;
}

.from_st{
	width:26%;
}

.to_st{
	width:26%;
}

.price{
	width:16%;
}

.select{
	width:12%;
}

.selectbt{
    text-align:center;
    text-decoration:none;
    width:80px;
}

.returnbt{
	width:170px;
    text-decoration:none;
    border:1px solid #333;
    background-color: #fff;
}

.returnbt:hover{
	text-decoration:none;
    border:1px solid #666;
    background-color: #666;
    color:#fff;
}

