@charset "UTF-8";

	 *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/*rem算出をしやすくするために*/
}

.btn1 {
	font-size: 15px;
	font-weight: 900;
	line-height: 0.5;
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
	margin-left:20px;
	margin-top:10px;
}
body {
	min-width: 60%;
	max-width: 960px;
	position: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

H2 {
	margin: 30px;
}

th {
	text-align: right;
}

p {
	margin: 30px;
	text-align: center;
}

.text {
	width: 200px;
}

.btn {
	margin: 10px 10px 10px 5px;
	border: 1px solid #000;
	width: 150px;
	align: center;
	background-color: #ffffff;
}

.btn-flat {
	overflow: hidden;
	padding: 1rem 3rem;
	color: #fff;
	border-radius: 0;
	background: #000;
	position: relative;
}
.btn-flat span {
  position: relative;
}

.btn-flat:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-transform: translateX(-96%);
	transform: translateX(-96%);
	/*background: #1E90FF;*/
	background: #eb6877;
	color: #000;

}

.btn-flat:hover:before {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);

}


.name {
	width: 200px;
	height: 18px;
	margin: 5px;
}

.address {
	width: 320px;
	height: 18px;
	margin: 5px;
}

.pass {
	width: 180px;
	height: 18px;
	margin: 5px;
}

.role {
	width: 170px;
	height: 30px;
	margin: 5px;
}

.erro {
	margin: 30px;
	color: red;
}